################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/build

/include/zzacommon.h
src/zc_app.cpp
/src/zc_app.cpp
/src/zc_debug.cpp
